.tabs-page {
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .buttons-wrap {
        display: flex;
        gap: 10px;
        button {
            &.active {
                background-color: #ffa100;
            }
        }
    }

    .content-wrap {
        margin-top: 20px;
        padding: 30px;
        background-color: #575656;
    }
}