.tree-container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: relative;

    .sidebar {
        background-color: rgb(10, 48, 123);
        padding: 1rem;
        // position: fixed;
        // z-index: 20;
        // left: 0;
        top: 0;
        height: 100vh;
        width: 280px;
    }
}


.menu-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 0.8rem;
    }

    .plus-btn {
        cursor: pointer
    }
}