.modal-page {
    min-height: 100vh;
    width: 100vw;
    background-color: #0e8b8b;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-container {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);

        .modal-box {
            position: relative;
            width: 80%;
            background-color: #fff;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: #000;
            animation-name: animateModal;
            animation-duration: 0.5s;

            p, h2 {
                text-align: center;
            }

            .modal-header {
                position: relative;
                background-color: #3a3a3a;

                span {
                    position: absolute;
                    right: 10px;
                    top: -15px;
                    cursor: pointer;
                    font-size: 40px;
                }

            }

            .modal-content {
                padding: 2px 16px;

            }

            .footer {
                padding: 2px 16px;
                background-color: #3a3a3a;
            }
        }
    }
}

@keyframes animateModal {
    from {
        top: -50%;
    }

    to {
        top: 50%
    }
}